<p>Dear {% for interviewer in interviewers %}{{ interviewer }}, {% endfor %}</p>
<p>{{ doc.interview_round }} interview is {{ doc.status }} for candidate {{ candidate_name }}. Please refer below details.</p>


<table cellspacing="0">
    <tr>
        <td style="border: 0.5pt solid black; width: 112pt; font-weight: 500; background: rgb(91,155,213); text-align: center;"> Sr. No.</td>
        <td style="border-left: none; border-top: 0.5pt solid black; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; font-weight: 500; background: rgb(91,155,213); text-align: center; width: 185pt;">Candidate Name</td>
        <td style="border-left: none; border-top: 0.5pt solid black; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; font-weight: 500; background: rgb(91,155,213); text-align: center; width: 205pt;">Contact Number</td>
        <td style="border-left: none; border-top: 0.5pt solid black; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; font-weight: 500; background: rgb(91,155,213); text-align: center; width: 188pt;">Date</td>
        <td style="border-left: none; border-top: 0.5pt solid black; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; font-weight: 500; background: rgb(91,155,213); text-align: center; width: 176pt;">Time</td>
        <td style="border-left: none; border-top: 0.5pt solid black; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; font-weight: 500; background: rgb(91,155,213); text-align: center; width: 182pt;">Mode</td>
    </tr>
    <tr>
        <td style="border-top: none; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; border-left: 0.5pt solid black; text-align: center; color: black; width: 112pt;">1</td>
        <td style="border-left: none; border-top: none; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; text-align: center; color: black; width: 185pt;">{{ candidate_name }}</td>
        <td style="border-top: none; border-left: none; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; text-align: center; color: black; width: 205pt;">{{ phone }}</td>
        <td style="border-top: none; border-left: none; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; text-align: center; color: black; width: 188pt;">{{ date }}</td>
        <td style="border-top: none; border-left: none; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; text-align: center; color: black; width: 176pt;">{{ from_time }}</td>
        <td style="border-top: none; border-left: none; border-right: 0.5pt solid black; border-bottom: 0.5pt solid black; text-align: center; color: black; width: 182pt;">{{ mode }}</td>
    </tr>
</table>